bg_color = #123456
box_size = 100px

// 能不能我只写标准属性，他的前缀帮生成？函数
// mixin 混合 border-radius 这些兼容性都得写
border-radius()
    vendor('border-radius',arguments)

box-shadow()
    vendor('box-shadow',arguments)
    
vendor(prop,args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args



.box
    background-color bg_color
    width box_size
    height box_size
    border-radius(5px)
    box-shadow(1px 1px 10px rgba(0,0,0,.5))
    