* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}

#pureFullPage {
    position: relative;
    top: 0;
    transition: all 1s ease;
}
.page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page:nth-child(1) {
    background-color: pink;
}
.page:nth-child(2) {
    background-color: green;
}
.page:nth-child(3) {
    background-color: greenyellow;
}
.page:nth-child(4) {
    background-color: yellow;
}
.page p {
    font-size: 88px;
}

