  /* css reset   */
  /* * 性能不好 */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
dl,ol,ul {
    list-style: none;
}
html {
    font-size: 10px !important;
}
body {
    margin: 0;
    background-color: #fbfbfb;
    font-family: Helvetica,Arial,Roboto,PingFang SC,Microsoft Yahei,Hiragino Sans GB,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    display: block;
}
#db-global-nav {
    height: 28px;
    color: #d5d5d5;
    background-color: #545652;
    min-width: 950px;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}
#db-global-nav .global-nav-items {
    font-size: 0;
    float: left;
}
#db-global-nav ul {
    margin: 0;
    padding: 0;
}
#db-global-nav .global-nav-items li {
    /* 解决了行内块级的问题，但是在元素间会莫名产生一点像素的间距
    影响算像素的两种解决方案，删除元素间的换行
    父元素的font-size设置为0
    副作用是 要在子元素上面重现设定font-size */
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    zoom: 1;
    vertical-align: baseline;
}
#db-global-nav a {
    cursor: pointer;
    text-decoration: none;   
}
#db-global-nav .global-nav-items a {
    display: inline-block;
    zoom: 1;
    padding: 0 12px;
    height: 28px;
}
#db-global-nav a:link, #db-global-nav a:visited, #db-global-nav a:hover, #db-global-nav a:active {
    color: #d5d5d5;
}
#db-global-nav .top-nav-info {
    float: right;
    margin-right: 12px;
    line-height: 28px;
}
#db-global-nav .top-nav-info a {
    display: inline-block;
    height: 28px;
    padding: 0 12px;
}
#db-global-nav .more-active {
    position: relative;
    z-index: 10;
    
}
#db-global-nav .top-nav-doubanapp {
    position: relative;
    float: right;
    line-height: 28px;
    margin-right: 5px;
}
#db-global-nav .more-items {
    display: none;
    position: absolute;
}
#db-global-nav .top-nav-doubanapp .more-items {
    width: 211px;
    left: -76px;
    padding: 10px 20px 30px;
    color: #111111;
    text-align: center;
    font-size: 15px;
    line-height: 1.62;
    font-weight: bold;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
#db-global-nav .top-nav-doubanapp .more-items .appintro-title {
    background: url(./doubanapp6.png) no-repeat center;
    padding-top: 170px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
}
#db-global-nav .top-nav-doubanapp .more-items .qrcode {
    background: url(./qrcode.png) no-repeat center;
    padding-top: 160px;
    margin-top: 30px;
    font-size: 0;
}
#db-global-nav .top-nav-doubanapp .download {
    margin-top: 10px;
}
#db-global-nav .top-nav-doubanapp .download a {
    display: inline;
    font-weight: normal;
    font-size: 12px;
    padding: 0;
    color: #37a;
}

/* 内容部分 */
#market-header {
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 4px #e4e4e4;
    height: 52px;
}
#market-header .header-inner {
    width: 1024px;
    position: relative;
    zoom: 1;
    margin: 0 auto;
    z-index: 1;
}
#market-header .logo {
    float: left;
}
#market-header .market-logo {
    width: 87px;
    height: 20px;
    display: block;
    text-indent: -999em;
    background: url(./doubanshiji.png) no-repeat center transparent;
    background-size: cover;
    margin-top: 16px;
}


